/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    position: relative;
    font-size: 1rem;
    font-weight: 300;
    color: #333;
    line-height: 1.6;
    background-color: #f5f5f5;
}

/*---------------------------------------/
/#Titles
/---------------------------------------*/

h1{
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

button, input , textarea{
    font-family: "Montserrat", sans-serif;
}

a{
    text-decoration: none;
}

/*-----------------------------------/
/#Header
/-----------------------------------*/

.header{
    position: fixed;
    z-index: 2000;
    width: 100%;
    top: 0;
    
}

header {
    color: #000;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 1px 0 3px 1px rgba(0, 0, 0, 0.1);
    margin-top: -15px;
    transition: background-color 0.3s ease;
    background-image:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/header_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

nav{
    width:100%;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4c3636;
}

.nav-links .donate{
    align-items: center;
    border: 1px solid #4c3636;
    padding: 10px 20px;
}

.nav-links .donate:hover{
    background-color: #4c3636;
}

.nav-links .donate i{
    margin-right: 10px;
}

.nav-links a {
    color: #4c3636;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-size: 15px;
}

.nav-links a:hover {
    transition: 0.4s ease-in-out;
    font-weight: 500;
}

.menu-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    margin-top: 20px;
}

.logo img ,.menu-logo img{
    height: 65px;
    width: auto;
    mix-blend-mode: multiply;
    object-fit: cover;
}
.menu-logo{
    display: none;
}

.our-menu {
    display: flex;
    flex-direction: row;
}

.our-menu i {
    color:  #fff;
    font-size: 25px;
}

.menu-icon {
    display: none;
}

.exit-icon {
    display: none;
}

.indicator i {
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
}

.search-icon {
    cursor: pointer;
    margin-left: 5px;
    color: #333;
}

.text:nth-child(2) {
    animation-delay: 5s; 
}

/* Organisation sub menu */
.nav-links li {
    position: relative;
    list-style: none;
}

.nav-links li:hover .dropdown {
    display: block;
    opacity: 1;
    height: auto;
    transform: scaleY(1);
}
.dropdown {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f5f5f5;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    padding: 0;
    z-index: 100;
    min-width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: height 1.2s ease, opacity 1.2s ease, transform 1.2s ease;
    visibility: hidden;
}

.nav-links li:hover .dropdown {
    visibility: visible;
}

.dropdown a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    transition-delay: 0.2s;
}

.nav-links li:hover .dropdown a {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--delay, 0) * 0.1s);
}

.dropdown a:hover {
    background-color: #91484710;
    color: #914847;
}




/*---------------------------------------/
#Home page
/---------------------------------------*/

.home-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    position: relative;
}

.home-text {
    z-index: 10;
    width: 90%;
    color: #fff;
    text-align: center;
    
}
.home-text .welcome-message{
   
    text-align: center;
}
.home-text h1 {
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 3.5rem;
    color: white;
    font-weight: 500;
    
}
.home-text p{
    font-size: 14px;
}
.home-text a {
    display: flex;
    margin: auto;
    margin-top: 15px;
    width: fit-content;
    padding: 8px 30px;
    transition-delay: 0.4s;
    transition: 0.4s ease-in-out;
    background-color: #fff;
    text-decoration: none;
    font-weight: 500;
    color: #914847;
    font-size: 16px;
    margin-top: 50px;
}


.home-text a:hover {
    background-color: #914847;
    transition: 0.4s ease-in-out;
    color: white;
}

/* Container for the images */
.home-images {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

/* Gradient overlay */
.home-images::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    background: #02020294;
}

/* Individual images */
.home-images .home-bg {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    
}

/*---------------------------------------/
#Les patriaches 
/---------------------------------------*/

.patriaches {
    padding: 20px;
    text-align: center;
    background-color: #fff;
}


.patriaches .section-description {
  
    margin-bottom: 30px;
}

.patriaches-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.patriaches-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 0 3px 1px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    text-align: left;
}

 h3 {
    font-weight: 500;
    color: #914847;
    margin-bottom: 10px;
}

.patriaches-item p {
    font-size: 1rem;
    color: #7f8c8d;
}
.menu-bar .nav-links .activ{
    color: #914847;
}

/*---------------------------------------/
#Les paroisses
/---------------------------------------*/
.paroisses {
 
    text-align: center;
    padding: 20px;
    background-color: #fff;
}



.paroisses .section-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #2e4053;
    font-family: 'Playfair Display', serif;
}

.paroisses .section-subtitle {
    font-size: 1.2rem;
    color: #7d8896;
    margin-bottom: 30px;
}

.paroisses-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.paroisse {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 0px 3px 1px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}
.paroisse .name{
    font-weight: 500;
}
.paroisse img {
    width: 100%;
    margin-bottom: 15px;
    height:250px;
    object-fit: fill;
}



.paroisse p {
    font-size: 1rem;
    color: #7d8896;
}

.paroisse p strong {
    color: #2e4053;
}



/*---------------------------------------/
#Responsive Design
/---------------------------------------*/

@media screen and (max-width: 900px) {
    header .nav-links {
        position: fixed;
        top: 100px;
        left: -100%; 
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        -webkit-column-gap: 15px;
        padding-top: 20px;
        padding-left: 30px;
        padding-bottom: 30px;
        height: 45vh;
        background-color: #fafafa;
        box-shadow: 0px 1px 10px #c2c2c25d;
        transition: left 0.3s ease-in-out;
    }

    header .nav-links.active {
        left: 0;
    }
    header .nav-links a {
        color: #141b1fda;
        padding-top: 20px;
    }
    .menu-logo{
        display: block;
    }
    .logo{
        display: none;
    }
    .our-menu i{
        color: #4c3636;
    }
    /* Ensure the menu icon is visible */

    .our-menu{
        background-color: white;
        padding: 7px;
        border-radius: 50%;
    }
    .our-menu .menu-icon {
        display: flex; /* Make it visible */
        cursor: pointer;
    }

    .our-menu .exit-icon {
        display: none; /* Initially hidden */
    }
    .nav-links a{
        font-weight: 500;
        color:#4c3636;
    }
    .nav-links .donate{
        border: 1px solid #914847;;
    }
    .nav-links .donate:hover{
        color: white;
        background-color: #914847;
    }
    /* When active, show the exit icon and hide the menu icon */
    .our-menu.active .menu-icon {
        display: none;
    }

    .our-menu.active .exit-icon {
        display: flex;
        cursor: pointer;
    }
}
@media screen and (max-width: 676px) {
    .paroisses-list .paroisse{
        width: 100%;
    }
    .home-section{
        height: 60vh;
    }
    .home-images .home-bg{
        height: 60vh;
    }
    .paroisse img{
        height: 350px;
    }
}

