/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    position: relative;
    font-size: 1rem;
    font-weight: 300;
    color: #333;
    line-height: 1.6;
    background-color: #f5f5f5;
}

/*---------------------------------------/
/#Titles
/---------------------------------------*/

h1{
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

button, input , textarea{
    font-family: "Montserrat", sans-serif;
}

a{
    text-decoration: none;
}

/*-----------------------------------/
/#Header
/-----------------------------------*/

.header{
    position: fixed;
    z-index: 2000;
    width: 100%;
    top: 0;
    transition: background-color 0.3s ease;
    background-color: transparent; /* Initially transparent */
}

header {
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav{
    width:100%;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav-links .donate{
    align-items: center;
    border: 1px solid white;
    padding: 10px 20px;
}

.nav-links .donate:hover{
    background-color: white;
}

.nav-links .donate i{
    margin-right: 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-size: 15px;
}

.nav-links a:hover {
    transition: 0.4s ease-in-out;
    font-weight: 500;
}

.menu-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
}

.logo img{
    height: 65px;
    width: auto;
    mix-blend-mode: multiply;
    object-fit: cover;
}

.our-menu {
    display: flex;
    flex-direction: row;
    margin-top: 13px;
}

.our-menu i {
    color:  #fff;
    font-size: 25px;
}

.menu-icon {
    display: none;
}

.exit-icon {
    display: none;
}

.indicator i {
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
}

.search-icon {
    cursor: pointer;
    margin-left: 5px;
    color: #333;
}

/* Moving Text Styling */
.moving-text {
    display: flex;
    align-items: center; 
    width: 100%;
    justify-content: space-between;
    padding: 10px 0px;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transition: display 0.3s ease-out;
}

.moving-text .text{
    display: flex;
    align-items: center;
    margin: 0px 30px;
    font-size: 16px;
}

.moving-text .text p i{
    margin-left: 10px;
    font-size: 0.9rem;
}

.text:nth-child(2) {
    animation-delay: 5s; 
}

/* Organisation sub menu */
.nav-links li {
    position: relative;
    list-style: none;
}

.nav-links li:hover .dropdown {
    display: block;
    opacity: 1;
    height: auto;
    transform: scaleY(1);
}

.dropdown {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f5f5f5;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    padding: 0;
    z-index: 100;
    min-width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: height 1.2s ease, opacity 1.2s ease, transform 1.2s ease;
    visibility: hidden;
}

.nav-links li:hover .dropdown {
    visibility: visible;
}

.dropdown a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    transition-delay: 0.2s;
}

.nav-links li:hover .dropdown a {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--delay, 0) * 0.1s);
}

.dropdown a:hover {
    background-color: #91484710;
    color: #914847;
}

/* When scrolling, apply background color and text color to header */
.scrolled header {
    background-image:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/header_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black; /* Header text turns black */
    margin-top: -15px;
    box-shadow: 1px 0 3px 1px rgba(0, 0, 0, 0.1);
}

/* Hide moving-text when scrolling */
.scrolled .moving-text {
    display: none;
}
.scrolled .nav-links a{
    font-weight: 500;
    color:#4c3636;
}
.scrolled .nav-links .donate{
    border: 1px solid #914847;;
}
.scrolled .nav-links .donate:hover{
    color: white;
    background-color: #914847;
}
.scrolled .menu-bar{
    margin-top: 20px;
}
/* Initially hide moving text */



/*---------------------------------------/
#Home page
/---------------------------------------*/

.home-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: relative;
}

.home-text {
    z-index: 10;
    width: 90%;
    color: #fff;
    text-align: center;
    
}
.home-text .welcome-message{
   
    text-align: center;
}
.home-text h1 {
    margin-top: 120px;
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: white;
    font-weight: 500;
    
}
.home-text p{
    font-size: 14px;
}
.home-text a {
    display: flex;
    margin: auto;
    margin-top: 15px;
    width: fit-content;
    padding: 8px 30px;
    transition-delay: 0.4s;
    transition: 0.4s ease-in-out;
    background-color: #fff;
    text-decoration: none;
    font-weight: 500;
    color: #914847;
    font-size: 16px;
    margin-top: 50px;
}


.home-text a:hover {
    background-color: #914847;
    transition: 0.4s ease-in-out;
    color: white;
}

/* Container for the images */
.home-images {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Gradient overlay */
.home-images::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    background: #020202cb;
}

/* Individual images */
.home-images .home-bg {
    width: 100%;
    height: 100vh;
    object-fit:fill;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transform: scale(1); /* Initial scale */
    transition: opacity 2s ease-in-out, transform 10s ease-in-out; /* Smooth fade and zoom effect */
}

/* Active image zoom and visibility */
.home-images .home-bg.active {
    opacity: 1;
    transform: scale(1.2); /* Gradual zoom effect */
}

/* Circle navigation */
.circle-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 10%;
    z-index: 200;
    display: none;
}

.circle-btn .circle {
    width: 12px;
    height: 12px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #dde1e7;
    background-color: transparent;
    transition: background-color 0.3s, transform 0.3s;
}

.circle-btn .circle.active {
    background-color: #fff;
    transform: scale(1.3);
    border: 1px solid #fff;
}

